.example-enter {
	opacity: 0;
	transition: opacity .5s ease-in;
}

.example-entre.example-enter-active {
	opacity: 1;
}

.example-leave {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
	opacity: 0;
}
